*~
CVS
CVS/*
apm-workspace*
bin*
ChangeLog
content-repository-content-files/*
etc*
license.txt
readme.txt
log*
tcl*
www*
packages/acs-*
packages/calendar*
packages/institution*
packages/intermedia-driver*
packages/notifications*
packages/ref*
packages/search*
packages/tsearch*
packages/workflow-admin*
